.navbar {
    margin: 10px 0px;
    flex-basis: 90px;
    position: relative;

    background: rgb(93, 72, 161);
    /* background: radial-gradient(circle, rgb(122, 96, 169) 0%, rgb(122, 96, 170) 46%, rgba(84,67,158,1) 98%); */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color:  #f5f4f3;
}

.user {
    display: flex;
    flex-basis: 200px;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
}

.avatar {
    width: 58px;
    margin: 11px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.phrase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 100%;
}

.string {
    margin: 5px;
}

.logo {
    height: 100%;
}

.logo_container {
    height: 100%;
    display: none;
}

.log_out {
    color: #f5f4f3;
    margin-left: auto;
    margin-right: 20px;
}