#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar {
    flex-basis: 70px;
    position: relative;
    background: #ffa084;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sidebar {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

#main div {
    flex-basis: 100%;
}

#mainbody {
    display: flex;
    flex-basis: 100%;
}

#messages-list {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-basis: 100%;
}

#new-message {
    flex-basis: 70px;
    display: flex;
}

#new-message input{
    flex-basis: 100%;
    margin: 10px;
    font-size: 20px;
}





.avatar {
    width: 57px;
    margin: 11px;
}

.menu-list {
    width: 150px;
    display: none;
    position: absolute;
    top: 65px;
    margin: 0px;
    right: 35px;
    background: #ffdfc8;
    flex-direction: column;
}

.menu-list a {
    color: black;
    margin: 10px;
}

.menu-label {
    padding: 10px;
    height: 44px;
    width: 44px;
}

.dropdown-menu {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-menu:hover .menu-list{
    display: flex;
}

.chat-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.chat-list a {
    color: black;
    margin: 10px;
}




#messages-list ul {
    padding: 10px;
    margin:  0px;
}

#messages-list p {
    background: #ffe1e1;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

ul p img {
    max-width: 100%;
}

img.imgButton{
    height: 27px;
    width: 27px;
}


button {
    background-color: white;
    border: none;
}

ul {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}



#container {
    font-size: 20px;
}

