#root {
    height: 98vh;
    display: flex;
    flex-direction: column;
}


#container{
    background: #e4e1e000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

#mainbody {
    display: flex;
    flex-basis: 100%;
}

#id {
    margin-left: auto;
    margin-right: 20px;
}


#log-out {
    margin-left: auto;
    margin-right: 20px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.chat-list a {
    color: black;
    margin: 10px;
}

ul p img {
    max-width: 100%;
}



#container {
    font-size: 20px;
}


.authcontainer {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}

.auth {
    display: flex;
    padding: 10px;
    background: #ffa084;
    text-decoration: none;
}

a {
    text-decoration: none;
}



/* .emoji-message i.smile {
    background: url(people32/slightly-smiling-face.png?sprite);
}
.emoji-message i.laugh {
    background: url(people32/grinning-face-with-smiling-eyes.png?sprite);
}
.emoji-message i.cry {
    background: url(people32/loudly-crying-face.png?sprite);
}
.emoji-message i.angry {
    background: url(people32/angry-face.png?sprite);
}
.emoji-message i.kiss {
    background: url(people32/face-blowing-a-kiss.png?sprite);
}
.emoji-message i.love {
    background: url(people32/smiling-face-with-heart-eyes.png?sprite);
}
.emoji-message i.pout {
    background: url(people32/pouting-face.png?sprite);
}
.emoji-message i.fear {
    background: url(people32/anxious-face-with-sweat.png?sprite);
}
.emoji-message i.checks {
    background: url(people32/hugging-face.png?sprite);
}

i.laugh {
    background: url(people64/grinning-face-with-smiling-eyes.png?sprite);
}
i.cry {
    background: url(people64/loudly-crying-face.png?sprite);
}
i.angry {
    background: url(people64/angry-face.png?sprite);
}
i.kiss {
    background: url(people64/face-blowing-a-kiss.png?sprite);
}
i.love {
    background: url(people64/smiling-face-with-heart-eyes.png?sprite);
}
i.pout {
    background: url(people64/pouting-face.png?sprite);
}
i.fear {
    background: url(people64/anxious-face-with-sweat.png?sprite);
}
i.checks {
    background: url(people64/hugging-face.png?sprite);
} */


textarea {
    font-size: x-large;
}

i.smile{   
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/slightly-smiling-face.png?sprite);
}
i.laugh {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/grinning-face-with-smiling-eyes.png?sprite);
}
i.cry {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/loudly-crying-face.png?sprite);
}
i.angry {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/angry-face.png?sprite);
}
i.kiss {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/face-blowing-a-kiss.png?sprite);
}
i.love {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/smiling-face-with-heart-eyes.png?sprite);
}
i.pout {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/pouting-face.png?sprite);
}
i.fear {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/anxious-face-with-sweat.png?sprite);
}
i.checks {
    display: block; 
    height: 32px;
    width: 32px;
    background: url(people32/hugging-face.png?sprite);
}