.search_component{
	align-self: center;
    margin: 20px;
}

.search {
    padding: 10px 10px 2px 10px;
    font-size: 20px;
    border-width: 0px 0px 1px 0px;
    border-color: #b39abd;
    border-style: solid;
    max-width: 400px;
    background-color: #ffffff91;
    border-radius: 10px;
}